@import "tailwindcss";
@import "locomotive-scroll/dist/locomotive-scroll.css";


@theme {
  --font-heading: "Inter", "sans-serif";
  --font-body: "Inter", "sans-serif";
}

/* ✅ Custom utility for reusable gradient */
@layer utilities {
  .bg-custom-gradient {
    background-image: radial-gradient(circle at 90% 100%,
        #ffffff 0%,
        #e5e8f5 40%,
        #879AE3 100%);
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.auth-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?q=80&w=2070&auto=format&fit=crop');
  background-size: cover;
  background-position: center;
}